@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 54, 53, 61;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer components {
  .bulb {
    opacity: 0;
    animation: flickerI 3s linear 1s both, pulse 2s linear 4s infinite;
  }

  .test {
    --b: .2em; /* border width */
    --c: 10em; /* corner size */
    --r: 2em; /* corner rounding */
    position: relative;
    margin: 1em auto;
    border: solid var(--b) transparent;
    padding: 1em 15rem 1rem 15rem;
    max-width: 80%;
    /* font: 1.25em ubuntu, sans-serif; */
    
    &::before {
      position: absolute;
      z-index: -1;
      inset: calc(5 * var(--b));
      border: inherit;
      border-radius: var(--r);
      background: linear-gradient(blue, deeppink, purple) border-box;
      --corner: 
      conic-gradient(from -90deg at var(--c), red 25%, #0000 0) 
      0 0/ calc(100% - var(--c))  calc(1000% - var(--c)) border-box;
      --inner: conic-gradient(red 0 0) padding-box;
      -webkit-mask: var(--corner), var(--inner);
      -webkit-mask-composite: source-out;
      mask: var(--corner) subtract, var(--inner);
      content: '';
      opacity: 0;
      animation: flickerI 3s linear 1s both;
    }
  }

  
  .overlay { 
    position: absolute; 
    transition: all 0.4s ease; 
    opacity: 0; 
    background-color: rgba(0,0,0); 
  } 
  
.container:hover .overlay { 
  opacity: 0.8; 
} 

.overlay-fade { 
  height: 100%; 
  width: 100%; 
  top: 0; 
  background-color: rgba(0,0,0); 
} 

.fill-nav {
  background: linear-gradient(to right, black 50%, #ffffff5d 50%) left;
  background-size: 200%;
}

.link-underline {
  position: relative;
  text-decoration: none;
}

.link-underline:hover {
  background-color: rgba(251, 242, 242, 0.422)
}

.link-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: red;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.link-underline:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.active {
  background-color: green;
}

.sticky {
  top: 0;
  z-index: 10;
  color: black;
  animation: flickerI 1s linear both;
}


/* .button:hover {
} */

  @keyframes flickerI {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0.5;
    }
    10% {
      opacity: 0.6;
    }
    15% {
      opacity: 1;
    }
    25% {
      opacity: 0.5;
    }
    30% {
      opacity: 1;
    }
    35% {
      opacity: 0.1;
    }
    40% {
      opacity: 0.25;
    }
    45% {
      opacity: 0.5;
    }
    60% {
      opacity: 1;
    }
    70% {
      opacity: 0.85;
    }
    80% {
      opacity: 0.4;
    }
    90% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
}