@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 54, 53, 61;
  --background-end-rgb: 0, 0, 0;
  --glow-color: hsl(186 100% 69%);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .bulb {
    opacity: 0;
    animation: pulse 2s linear 4s infinite;
  }

  .glowing-txt {
    color: #ffffff;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear 2;
  }

  .faulty-letter {
    opacity: 1;
    animation: faulty-flicker 2s linear 3;
  }

  .btn-shadow {
    box-shadow: 0 0 15px 1px var(--glow-color);
    transform: scale(1);

    &:hover {
      transform: scale(1.1);
    }
  }

  .overlay {
    position: absolute;
    transition: all 0.4s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0);
  }

  .container:hover .overlay {
    opacity: 0.8;
  }

  .overlay-fade {
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0);
  }

  .icon-shadow {
    filter: blur(5px);
    fill: linear-gradient(to right, #fff, transparent 80%);
    color: #fff;
  }

  .heading {
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  }

  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }

    87% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }

    2% {
      opacity: 1;
    }

    8% {
      opacity: 0.1;
    }

    9% {
      opacity: 1;
    }

    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }

    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }

    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }

  @media only screen and (max-width: 600px) {
    .glowing {
      font-size: 1em;
    }
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}
